<div id="nav-wrapper">
  <h1>All Bookings</h1>
  <%= link_to "New Booking", new_booking_path, class: "btn" %>
</div>

<%= content_tag :div, 
    id: "booking-component", 
    data: {
      bookings: @bookings.map { |b| {
        id: b.id,
        first_name: b.first_name,
        last_name: b.last_name,
        animal_name: b.animal_name,
        animal_type: b.animal_type,
        hours_requested: b.hours_requested,
        date_of_service: b.date_of_service,
        price: b.price
      }}
    } do %>
<% end %>

