<h1>Bookings</h1>

<!-- This div will be the container for your React component -->
<div id="booking-component"></div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    window.mountReactComponent('Booking', 'booking-component', {
      bookings: <%= @bookings.map { |b| {
          first_name: b.first_name,
          last_name: b.last_name,
          animal_name: b.animal_name,
          animal_type: b.animal_type,
          hours_requested: b.hours_requested,
          date_of_service: b.date_of_service,
          price: b.price,
        }
      }.to_json.html_safe %>
    });
  });
</script>
