<div id="nav-wrapper" >
  <h1>Create New Bookings</h1>
  <p><%= link_to "All Bookings", bookings_path, class: "btn" %></p>
</div>


<div id="new-booking-component" data-controller="react-new-booking"></div>
